

#ConcreteMarks{
    text-align: center;
    border: 1.5px solid rgb(1, 0, 0);
    width: 155px;
    height: 30px;
    background-color: rgb(251, 248, 248);
    border-radius: 2px;
    font-size: 15px;
     
}

.AreaDimension{
    text-align: center;
}

output {
    display: inline;
}

#moratrVolume{
    width: 180px;
    height: 28px;
    margin-left: 80px;
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 3px;

}

input,
input::placeholder {
    font-size: 12px;
    padding: 0;
    padding-left: 2px;
}

.aggregateCementSand{
    font-size: 16px;
    font-weight: bold;
}

#aggregateResult{
    color: rgb(251, 236, 20);
    
}
#sandResult{
    color: rgb(246, 246, 24);
    
}
#cementResult {
    color: rgb(233, 252, 17);
    
}

.cementbag{
    font-size: 11px;
    color: #92928e;
}

#steelResult{
    color: rgb(253, 238, 19);
}
.mortarItems{

    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    color: white;
}